<ion-view cache-view="false">
	<ion-content>
 		<h1>{{title}}</h1>
 		<a href='#/'><button type="button" class='button button-small restart'>{{restart}}</button> </a>
 		<br/><br/>
 		<div class='postcard'>
 		<img src="img/postcard.png" />
 		<h1>{{perspective}}</h1>
 		<img ng-src="{{stamps[0]}}" class="stamp1"/>
 		<img ng-src="{{stamps[1]}}" class="stamp2"/>
 		<img ng-src="{{stamps[2]}}" class="stamp3"/>
 		</div>
 	</ion-content>
</ion-view>