<ion-view cache-view="false">
	<ion-content>
	    <ion-list class='languages'>
	      <ion-item ng-repeat="language in ::languages" href="#/perspectives/{{language.id}}">
	        {{language.title}}
	      </ion-item>
	    </ion-list>
	</ion-content>
</ion-view>