<ion-view cache-view="false">
	<ion-content >
    	<h1>{{title}}</h1>
    
	    <ion-list>
			<ion-item ng-repeat="task in ::tasks" href="#/points/{{languageid}}/{{task.id}}" class='item-text-wrap'>
			<table>
	      		<tr>
	        		<td>
	        			<img ng-src="{{task.resource}}" class="image-list-thumb"/>
	        		</td>
	        		<td class='image-text'>
	        			<b>{{task.title}}:</b>{{task.description}}
	        		</td>
	        	</tr>
			</table>
			</ion-item>
	    </ion-list>
	</ion-content>
</ion-view>
