<ion-view cache-view="false">
	<ion-content overflow-scroll="true">
		<h1>{{point.perspective}}</h1>
		<h1>{{point.title}}</h1>
		<br/>
		<video controls="controls" id='poi_video' preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
 			<source src='{{point.media}}' type="video/mp4"/>
 		</video>

 		<br/>
 		<br/>
 		<br/>
        <button class="item back checkout" ng-click="back({{language_id}}, {{perspective_id}})">
      	{{back_text}}
    	</button>
    	 
 	</ion-content>
 	
</ion-view>