<ion-view cache-view="false">
	<ion-content>
		<h1>{{perspective}}</h1>
		<h1>{{title}}</h1>
		<ion-list class='signs'>
			<ion-item ng-repeat="point in ::points" href="#/detail/{{languageid}}/{{itemid}}/{{point.id}}" class="sign">
				<div>
					<img ng-src="{{point.resource}}" class="image-list-thumb" />
					<span class='image-text'>{{point.title}}</span>
				</div>
			</ion-item>
	    </ion-list>
	    <a class="item checkout" href="#/checkout/{{languageid}}" >
        	{{checkout}}
        </a>
	</ion-content>
</ion-view>