.atlantikwall {
	background-color: #647966;
}

.atlantikwall h1
{	
	color: #fff;
	margin:0 auto;
	font-size:30px;
}

h1 {
	color: #E85113;
	font-weight: bold;
	text-align: center;
	font-size:26px;
}
a {text-decoration: none; }

.sign {
	border: 5px solid white;
	border-top: 0;
}
.signs .item-complex .item-content, .item-radio .item-content {
	background-color: #007cb0;
	text-align: center;
	color: white;
	font-weight: bold;
}
.item-content {
	padding-right:10px !important;
	padding-left: 10px !important ;
	font-size:15px;
}

.languages {
	font-weight: bold;
	valign: center;
	text-align: center;
}
.checkout {
	background-color: orange;
	text-align: center;
	color: white !important;
	font-weight: bold;
	line-height:70px;
	border: 5px solid white;
	border-top: 0;
}

.back {
	font-size:2em;
}

.restart, .restart:hover{
	background-color: #E85113;
	color:#fff;
	position: relative;
	margin: 0 auto;
}

.image-list-thumb {
	vertical-align: middle;
}
.image-text {
	vertical-align: middle;
	padding-left: 10px;
	padding-right:0;
}
.postcard
{
	width:300px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
}
.postcard h1
{
	position: absolute;
	top:10px;
	margin: 0 auto;
    width: 100%;
	z-index: 1;
	color:#000000;
	font-size:1.5em;
}
.stamp1
{
	position: absolute;
	top:133px;
	left:19px;
	z-index: 1;
	width:100px;
}
.stamp2
{	position: absolute;
	top:224px;
	left:98px;
	z-index: 1;
	width:100px;
}
.stamp3
{	position: absolute;
	top:126px;
	left:167px;
	z-index: 1;
	width:100px;
}
.back{
	width:100%;
}


/* UILayer */
div.ps-uilayer {
    opacity: 0;
    cursor: pointer;
}

video {
	width:100%
}
